.card {
  max-width: 400px;
  margin-bottom: 2em;

  .image-card {
    width: 100%;
    height: 150px;
    background-color: #d8d1d1;
    margin-bottom: 1em;
  }

  .header {
    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.2em;
      font-weight: bold;
      height: 1.3em;
      padding: 0;
    }

    .avatar {
      background-color: #aca8a8;

      .author-image {
        height: 100%;
      }
    }
  }

  .description {
    position: relative;
    margin: 0;
    padding: 0 15px;

    .description_text {
      font-size: 1em;
      line-height: 1.4em;
      height: 4.2em;
      overflow: hidden;
      margin-bottom: 5px;

      p {
        margin: 0;

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 6em;
          height: 1.6em;
          background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
        }
      }
    }
  }
}

:host ::ng-deep .mat-card-header-text {
  overflow: hidden;
}
